@font-face {
  font-family: "Qwitcher Grypen";
  src: url("../../fonts/QwitcherGrypen-Regular.woff") format("woff");
}
@font-face {
  font-family: "Qwitcher Grypen";
  src: url("../../fonts/QwitcherGrypen-Bold.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/PlusJakartaSans.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/PlusJakartaSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Light.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.woff") format("woff");
}

:root {
  font-size: 62.5%;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-flex-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #fff;
}

.image-container {
    padding: 0;
    height: 100vh;
    width: 50vw;
}

.forms-container {
    width: 50vw;
}

.image-container > img {
  width: 100%;
  height: 100%;
}

.logo {
  max-width: 15rem;
  width: 8.8441rem;
  height: 4.9134rem;
}

h1 {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 4rem;
}

.login-form {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 0.8rem;

  color: #5c5c5c;

  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.15px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.remember-me input {
  margin-right: 1rem;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-bottom: 2rem;
  color: #0066cc;
  text-decoration: none;
}

.login-button {
  width: 80%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #5b4dff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signup {
  text-align: center;
  margin-top: 2rem;
}

.signup a {
  color: #0066cc;
  text-decoration: none;
}

.rotated-image {
  transform: rotate(180deg);
  object-fit: cover;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group {
  margin-bottom: 2rem;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid red;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.input-group input::placeholder {
  color: #999;
}

.welcome-message {
  color: #5b4dff;
  font-family: "Poppins";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.logo-name {
  font-family: "Qwitcher Grypen";
  font-size: 4rem;
}

.logo-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (1200px > width > 1120px) {
    :root {
        font-size: 50%;
    }
}

@media screen and (1120px > width > 786px) {
    :root {
        font-size: 45%;
    }
}

@media screen and (width <= 786px) {
  :root {
      font-size: 40%;
  }
}