# Document
SRS.docx

# cache
*-cache
__pycache__

# Advanced Installer
*.aip

# packaging
*-SetupFiles
package

# Npm
node_modules

#configs/secrets
.env
package-lock.json


#datbase
db.sqlite3

# Python
Pipfile.lock


# DIST & Builds
dist
build

# Specs
*.spec

# Npx electron-package
JewelBox/

media

JewelBox-win32-x64/

# Archives
*.zip

# Docs
templates/


env