[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.10"
djangorestframework = "==3.14.0"
django-cors-headers = "==4.3.1"
pyinstaller = "==6.4.0"
django-filter = "==23.5"
win32printing = "*"
pywin32 = "==306"
python-barcode = "==0.15.1"
drf-nested-routers = "==0.93.5"
openpyxl = "*"
altgraph = "==0.17.4"
asgiref = "==3.7.2"
importlib-metadata = "==7.0.1"
packaging = "==23.2"
pefile = "==2023.2.7"
pillow = "==10.2.0"
pyinstaller-hooks-contrib = "==2024.1"
pytz = "==2024.1"
pywin32-ctypes = "==0.2.2"
sqlparse = "==0.4.4"
typing-extensions = "==4.9.0"
tzdata = "==2024.1"
zipp = "==3.17.0"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.11"
