@font-face {
  font-family: "Qwitcher Grypen";
  src: url("../../fonts/QwitcherGrypen-Regular.woff") format("woff");
}
@font-face {
  font-family: "Qwitcher Grypen";
  src: url("../../fonts/QwitcherGrypen-Bold.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Light.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/PlusJakartaSans.woff") format("woff");
}
:root {
  font-size: 62.5%;
    --primary-color: #E1E4E8;
    --secondary-color: #0066cc;
    --tertiary-color: #F6F6F6;    
    --table-header-color: #7389FF
}

body {
  padding: 1% 2%;
  font-family: "Poppins", sans-serif;
  background-color: var(--tertiary-color);
}

button {
  cursor: pointer;
}

.sidebar {
  min-width: 22rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  width: 15vw;
  box-shadow: #666;
}

.column-flex {
  flex-direction: column;
}
.center-aligned-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.max-height {
  height: 100%;
}

body {
  display: flex;
  height: 95vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.logo-container {
  text-align: center;
  padding-bottom: 2rem;
}

.logo-container img {
  width: 10rem; /* Adjust as needed */
}

.navigation {
  overflow: hidden;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  cursor: pointer;
  background-color: #ffffff;
  border-left: 0.5rem solid transparent;
  gap: 1rem;
  font-size: 1.4rem;
}

.nav-item i {
  width: 2rem;
  text-align: center;
}

.nav-item span {
  flex-grow: 1;
}

.nav-item.selected {
  border-left-color: #7c3aed;
  background-color: #7c3aed23;
}

.nav-item:not(.selected):hover {
  background-color: #e1e4e8;
}

.logo {
  max-width: 10rem;
  width: 6.8441rem;
  height: 3.9134rem;
}

.flex-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-name {
  font-family: "Qwitcher Grypen";
  font-size: 2.5rem;
  color:#5b4dff;
}

.main-container {
  border-radius: 1rem;
  padding: 2rem;
  padding-top: 1rem;
  flex-grow: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.add-order-btn {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 2rem;
  color: white;
  font-family: "Plus Jakarta Sans";
  font-size: 1.4rem;
  background-image: linear-gradient(to right, #9b4dff, #5e50ff);
}

.filter-group {
  display: flex;
  align-items: center;
  position: relative;
}

.filter-group select {
  border-radius: 0.6rem;
}

.filter-group select,
.filter-group input[type="search"] {
  margin-right: 1rem;
}

.search-btn {
  position: absolute;
  right: 1.5rem;
  background-color: #5e50ff;
  border: none;
  padding: 0.8rem 1rem;
  padding-bottom: 0.4rem;
  border-radius: 0.3rem;
}

.search-input {
  padding: 1rem 1.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  background-color: white;
  font-size: 1.4rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.invoice-btn,
.sheet-btn {
  /* Style your action buttons */
  margin-left: 1rem;
}

.sheet-btn {
  background-image: linear-gradient(to right, #9b4dff, #5e50ff);
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 1.4rem;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0.15px;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

.invoice-btn {
  font-family: "Plus Jakarta Sans";
  border-radius: 0.7rem;
  font-size: 1.4rem;
  border: 1px solid #9b4dff;
  background-color: white;
  padding: 1.2rem 1.5rem;
  color: #5b4dff;
}

/* Table */
.table-container {
  overflow-y: scroll;
  font-size: 1.2rem;
  border-collapse: collapse;
  max-height: 75vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

thead {
  background-color: #f3f3f3;
}

th,
td {
  text-align: left;
  padding: 0.8rem;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* 
.pagination-controls {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.pagination-btn {
    padding: 5px 10px;
    border: none;
    font-size: large;
    background-color: white;
    cursor: pointer;
    
}

.pagination-input {
    width: 20px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.pagination-btn:disabled {
    color: #ccc;
    cursor: default;
}

.pagination-btn:not(:disabled):hover {
    background-color: #f0f0f0;
} */

.order-row {
  background: white;
  border: none;
}

.order-row > td {
  padding: 2rem 1.5rem;
}

.order-column {
  border: none;
}
.second-column {
  max-width: 20vw;
  padding: 2rem 0.5rem !important;
}
.first-column {
  padding: 2rem 0.5rem !important;
}

.table-head-row {
    background-color: var(--table-header-color);
    color: white;
    border: none
}

thead th {
  border: none; /* Example border to see cells clearly */
  color: white; /* Example text color */
  padding: 0.5rem 1.5rem !important;
}
.logout {
  margin-bottom: 2rem;
}

/* Hide the browser's default dropdown arrow */
.custom-select {
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  padding-right: 3rem;
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-position: right 1rem center; /* Adjust as necessary */
  background-size: 1.5rem; /* Adjust as necessary */
}

/* Style focus and hover states */
.custom-select:focus {
  border-color: white;
  outline: none;
}

/* For older browsers that don't support the appearance property */
.custom-select::-ms-expand {
  display: none;
}

/* Optional: add a wrapper to position the select element if needed */
.select-wrapper {
  position: relative;
  display: inline-block;
}

/* Optional: add an after pseudo-element to create an arrow */
.select-wrapper:after {
  content: "▼"; /* Add your custom arrow symbol or character */
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none; /* Allows click events to pass through to the select element */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
background: #888; /* Color and style of the scrollbar itself */
border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
background: #555; /* Color when hovered */
}

@media screen and (1200px > width > 1120px) {
  :root {
    font-size: 50%;
  }
}

@media screen and (1120px > width > 786px) {
  :root {
    font-size: 45%;
  }
  .flex-logo {
    flex-direction: column;
    margin-top: 2rem;
    gap: 0;
  }

  .logo-name {
    margin-top: 0;
    font-size: 3rem;
  }

  .logo {
    width: 8.8441rem;
    height: 4.9134rem;
  }
}

@media screen and (width <= 786px) {
  :root {
    font-size: 40%;
  }
  
  .flex-logo {
    flex-direction: column;
    margin-top: 2rem;
    gap: 0;
  }

  .logo-name {
    margin-top: 0;
    font-size: 3rem;
  }

  .logo {
    width: 8.8441rem;
    height: 4.9134rem;
  }
}
